@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'shrikhand-regular';
    src: url('../fonts/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-background:#F6F6F6;
$steps-space-between:20px;
$restaurant-card-space-between: 20px;

@function high-lightness($color) {
    @return hsl(hue($color), saturation($color),95%);
}

@function low-lightness($color) {
    @return hsl(hue($color), saturation($color),20%);
}

@keyframes heart-filling {
    from {
        transform: scale(0);
        
    }
    to {
        transform: scale(1);
    }
}

@keyframes heart-disappearing {
    0% {
        right: 15px;
    }
    99% {
        right: 15px;
    }
    100% {
        right: -9999px;
    }
}

.header {
    padding: 15px 0;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px darken($color-background, 20%);
    &__logo {
        height: 25px;
        img {
            height: 100%;
            width: auto;
        }
    }
    
}

.localisation {
    padding: 12px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darken($color-background, 5%);
    &__icone {
        margin-right: 20px;
        font-size: 16px;
    }
    &__heading {
        font-family: 'roboto-regular', sans-serif;
        font-size: 14px;
    }
}

.presentation {
    padding: 30px 0 40px 0;
    background-color: $color-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__heading {
        font-family: 'roboto-bold', sans-serif;
        font-size: 24px;
        width: 70%;
        text-align: center;
    }
    &__text {
        font-family: 'roboto-light', sans-serif;
        font-size: 16px;
        width: 80%;
        margin: 15px 0 20px 0;
        text-align: center;
    }
    &__button {
        color: white;
        text-decoration: none;
        padding: 15px 22px;
        border-radius: 22px;
        background: linear-gradient($color-secondary, $color-primary);
        font-family: 'roboto-regular', sans-serif;
        font-size: 14px;
        box-shadow: 0 4px 8px darken($color-background, 30%);
    }
}

.functioning {
    padding: 40px 15px;
    &__heading {
        font-family: 'roboto-bold', sans-serif;
        font-size: 24px;
    }
    &__steps {
        margin-top: 30px;
        margin-bottom: -$steps-space-between;
    }
}

.step {
    display: flex;
    align-items: center;
    position: relative;
    background-color: $color-background;
    height: 80px;
    border-radius: 15px;
    margin-bottom: $steps-space-between;
    margin-left: 10px;
    font-size: 14px;
    font-family: 'roboto-regular', sans-serif;
    box-shadow: 0 4px 8px darken($color-background, 15%);
    &__content {
        display:flex;
        align-items: center;
        i {
            margin: 0 30px;
            color: darken($color-background, 40%);
            font-size: 20px;
        }
    }
    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background-color: $color-primary;
        color: white;
        position: absolute;
        left: -10px;
    }
    &--highlighted {
        background-color: high-lightness($color-primary);
        i {
            color: $color-primary;
        }
    }
}

.restaurants {
    padding: 40px 15px;
    background-color: $color-background;
    &__heading {
        font-family: 'roboto-bold', sans-serif;
        font-size: 24px;
    }
    &__list {
        margin-top: 30px;
        margin-bottom: -$restaurant-card-space-between;
    }
}

.restaurant-card {
    margin-bottom: $restaurant-card-space-between;
    background-color: white;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 4px 8px darken($color-background, 25%);
    a {
        display: block;
        text-decoration: none;
        color: black;
    }
    &__image {
        height: 150px;
        width: 100%;
        vertical-align: middle;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    &__legend {
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
        h3 {
            font-family: 'roboto-bold',sans-serif;
            font-size: 14px;
            margin-bottom: 5px;
        }
        p {
            margin:0;
            font-family: 'roboto-light', sans-serif;
            font-size: 14px;
        }
    }
    &__empty-heart {
        position: absolute;
        right: 15px;
        bottom: 25px;
        background-color: white;
        padding: 0;
        border: none;
        transition: right 0ms 200ms;
        i {
            font-size: 20px;
        }
        &:active {
            animation: heart-disappearing 200ms forwards;
        }
        &:active + .restaurant-card__filled-heart {
            animation: heart-filling 200ms ease-in-out forwards;
        }
    }
    &__filled-heart {
        position: absolute;
        transform: scale(0);
        right: 15px;
        bottom: 25px;
        height: 20px;
        border: none;
        background-color: transparent;
        padding: 0;
        transform-origin: 50% 100%;
        i {
            background: linear-gradient($color-primary, $color-secondary);
            -webkit-background-clip: text;
            color: transparent;
            font-size: 20px;
        }
    }
    &__new {
        position: absolute;
        top: 15px;
        right: 15px;
        color: darken($color-tertiary, 40%);
        background-color: $color-tertiary;
        border-radius: 3px;
        padding: 6px 12px;
        display: none;
        p {
            margin: 0;
            font-family: 'roboto-bold', sans-serif;
            font-size: 12px;
        }
        &--valid {
            display: block;
        }
    }
}

.footer {
    padding: 15px 30px 30px 30px;
    background-color: low-lightness($color-background);
    &__heading {
        font-family: 'shrikhand-regular', sans-serif;
        color: white;
        font-size: 16px;
        margin: 0 0 20px 0;
    }
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color:white;
        font-family: 'roboto-regular', sans-serif;
        font-size: 14px;
        margin-top: 10px;
        i {
            margin-right: 10px;
        }
        p {
            margin: 0;
            padding: 0;
        }
    }
}
