@keyframes heart-filling {
    from {
        transform: scale(0);
        
    }
    to {
        transform: scale(1);
    }
}

@keyframes heart-disappearing {
    0% {
        right: 0;
    }
    99% {
        right: 0;
    }
    100% {
        right: -9999px;
    }
}

@keyframes dish-added-appearance {
    from {
        margin-right: -60px;
    }
    to {
        margin-right: 0px;
    }
}

@keyframes dish-added-rotation {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}