.dish-list {
    padding: 15px;
    margin-bottom: -$dish-card-space-between;
    animation: menu-appearance 400ms ease-in-out both;
    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: 200ms+200ms*$i ;
        }
    }
    &__heading {
        font-family: 'roboto-light',sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        padding-left: 5px;
    }
    &__underline {
        height: 3px;
        width: 50px;
        margin: 5px 0 15px 5px ;
        background-color: $color-tertiary;
    }
}